// Nav: Styles for quick links at the top of a page.

@use "../api" as *;

#nav {
    display: block;
    text-align: center;
    max-width: $lg;
    padding: 0;
    margin: size(0) auto;
}

#nav li {
    display: inline;
    &::before {
        content: "\2022\00a0";
    }
}

#nav a[aria-current="page"] {
    color: text-color($black, $white);
    font-weight: $weight-bold;
}