// Sitehead: Styles for the global site header.

@use "../api" as *;

#sitehead {
	position: relative;
	transition: all 300ms ease-out;
	background-color: $white;
	border-bottom: 1px solid step-color($white, 3);
	padding: $safe-top $safe-right 0 $safe-left;
	overflow: visible;
	@media (min-height: 480px), (min-width: $lg) {
		position: sticky;
		top: 0;
		z-index: $z-fixed;
		&.hidden {
			transform: translateY(-100%);
			pointer-events: none;
			visibility: hidden;
		}
	}
}

#sitehead-wrapper {
	display: flex;
	flex-flow: row wrap;
	max-width: $lg;
	align-items: center;
	padding: size(0);
	margin: auto;
}

#sitehead-title {
	display: block;
	flex: 0 0 auto;
	padding: size(-2);
	color: text-color($gray, $white);
	h2, h4 {
		margin: 0;
	}
	h2 {
		color: text-color($orange, $white);
		font-size: font-size(4);
        font-weight: $weight-bold;
	}
	h4 {
		color: text-color($black, $white);
		font-size: font-size(1);
        font-weight: $weight;
	}
}

#sitehead-nav {
	display: flex;
	flex-flow: row wrap;
	align-self: flex-end;
	font-size: font-size(1);
	margin-left: auto;
	a {
        display: block;
        color: text-color($gray, $white);
        padding: size(-2);
        &:hover, &:focus, &[aria-current="page"] {
            color: text-color($black, $white);
        }
        &:active {
            color: text-color($blue, $white);
        }
    }
}