// Sitefoot: Styles for the global site footer.

@use "../api" as *;

#sitefoot {
    display: block;
    background-color: $black;
    color: text-color($white, $black);
    padding: size(0) size(1) size(5);
}

#sitefoot-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: $lg;
    padding: 0 $safe-right $safe-bottom $safe-left;
    margin: auto;
}

#sitefoot-info,
#sitefoot-nav {
    display: flex;
    flex-flow: column nowrap;
    line-height: 1.8;
    color: text-color($gray, $black);
    h4 {
        color: text-color($white, $black);
    }
    a {
        color: text-color($blue, $black);
        &[aria-current="page"] {
            color: text-color($orange, $black);
        }
    }
}