// Tools/gui.scss: Helper tools to create GUIs.

@use "spacing.scss" as spacing;

// Border-radius:
$radius-tiny: spacing.px(3);
$radius-small: spacing.px(6);
$radius-medium: spacing.px(9);
$radius-large: spacing.px(12);

// Z-Index:
$z-dropdown: 100;
$z-sticky: 200;
$z-fixed: 300;
$z-modal-backdrop: 400;
$z-modal: 500;
$z-popover: 600;
$z-tooltip: 700;

// Box-shadows:
$shadow: (
    "light": 0 2px 8px rgba(#000, 0.25),
    "dark": 0 2px 8px #000
);

// Safe-areas:
$safe-top: env(safe-area-inset-top);
$safe-right: env(safe-area-inset-right);
$safe-bottom: env(safe-area-inset-bottom);
$safe-left: env(safe-area-inset-left);
$safe: $safe-top $safe-right $safe-bottom $safe-left;