// Tools/media.scss: Helper tools to update CSS on media conditions.

@use "sass:map" as MAP;
@use "ruleset.scss" as ruleset;

// Light/Darkmode theming mixin: 
@mixin theme($property, $values) {
    @if (MAP.has-key($values, "light")) {
        #{$property}: MAP.get($values, "light");
    }
    @if (MAP.has-key($values, "dark")) {
        @media (prefers-color-scheme: dark) {
            #{$property}: MAP.get($values, "dark");
        }
    }
}

// Media Query widths:
$tiny: 180px;
$small: 300px;
$medium: 640px;
$large: 980px;

// Media Query mixins:
@mixin tiny {
    @media (max-width: $small) {
        @content;
    }
}

@mixin small {
    @media (min-width: $small) {
        @content;
    }
}

@mixin medium {
    @media (min-width: $medium) {
        @content;
    }
}

@mixin large {
    @media (min-width: $large) {
        @content;
    }
}

@mixin viewport($properties, $tiny, $small, $medium, $large) {
    @include tiny {
        @include ruleset.declare($properties,  $tiny);
    }
    @include small {
        @include ruleset.declare($properties,  $small);
    }
    @include medium {
        @include ruleset.declare($properties,  $medium);
    }
    @include large {
        @include ruleset.declare($properties,  $large);
    }
}