<ul id="nav">
    {%- for name, link in navdata[nav] %}
        {% if page.url == link %}
            <li><a href="{{ link }}" aria-current="page"><b>{{ name }}</b></a></li>
        {% else %}
            <li><a href="{{ link }}">{{ name }}</a></li>
        {% endif %}
    {% endfor -%}
</ul>