// Chapter Navigation: Styles for quick chapter links at the top of a page.

@use "../api" as *;

.chapter-navigation {
    display: block;
    text-align: center;
    max-width: $lg;
    padding: 0;
    margin: size(0) auto;
}

.chapter-navigation li {
    display: inline;
    &::before {
        content: "\2022\00a0";
    }
}

.chapter-navigation a[aria-current="page"] {
    color: text-color($black, $white);
    font-weight: $weight-bold;
}