// Error: Styles that effect the error layout.

@use "../api" as *;

#layout-error {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    text-align: center;
    @include inset(0);
}

#layout-error-content {
    display: block;
    padding: size(3);
    margin: auto;
}

#layout-error-content h1 {
    @include breakpoints(font-size,
        font-size(6),
        font-size(8),
        font-size(10),
        font-size(12)
    );
}

#layout-error-content h2 {
    color: var(--gray);
    @include breakpoints(font-size,
        font-size(2),
        font-size(3),
        font-size(5)
    );
}

#layout-error-content a {
    font-size: font-size(1);
    margin: size(1) 0;
}