// Page: Styles that effect the page type layout.

@use "../api" as *;

#layout-page {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    min-height: 100%;
    @include declare(top right left, 0);
}

#layout-page > * {
    width: 100%;
    flex: 0 0 auto;
}

#layout-page-content {
    position: relative;
    flex-grow: 1;
    padding: $safe-x;
}