// Site: Stylesheet for the website.

// Forward boilerplate...
@forward "api" with (
    $font: #{'Ubuntu', sans-serif},
    $font-mono: #{'Ubuntu Mono', monospace},
    $font-heading: #{'Oxanium', sans-serif}
);

// Forward website...
@forward "classes/";
@forward "includes/";
@forward "layouts/";

// Import fonts...
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Import Bootstrap Icons...
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");