// A: CSS for HTML anchor links.

@use "../api/" as *;

@include color-schemes($background-color...) using ($bg) {
    :where(a:any-link) {
        color: text-color($blue, $bg);
        &:where(:visited) {
            color: text-color($indigo, $bg);
        }
        &:where(:active) {
            color: text-color($red, $bg);
        }
    }
}