// HTML: CSS for the HTML tag.

@use "../api/" as *;

:where(html) {
    font-size: $font-size;
    font-family: $font;
    font-weight: $weight;
    line-height: $line-height;
    @include color-schemes($background-color...) using ($bg) {
        background-color: $bg;
        color: if(dark(text-color($bg, $bg)), $black, $white);
    }
}