// Textarea: CSS for HTML textareas.

@use "../api/" as *;

:where(textarea) {
    font-family: $font-mono;
    color: inherit;
    padding: px(2);
    @include color-schemes($background-color...) using ($bg) {
        background-color: $bg;
        border-color: accessible($gray, $bg, 3);
    }
}

:where(textarea:disabled) {
    opacity: 0.3;
}