// Presets/color.scss: Presets to CSS color variables and color classes.

@use "../tools/color.scss" as color;

:root {
    // Body Mono Palette:
    @include color.theme("--body1", color.$body1);
    @include color.theme("--body2", color.$body2);
    @include color.theme("--body3", color.$body3);
    @include color.theme("--body4", color.$body4);
    @include color.theme("--body5", color.$body5);
    
    // Body Hued Palette:
    @include color.theme("--gray-body", color.$gray-body);
    @include color.theme("--red-body", color.$red-body);
    @include color.theme("--orange-body", color.$orange-body);
    @include color.theme("--yellow-body", color.$yellow-body);
    @include color.theme("--brown-body", color.$brown-body);
    @include color.theme("--green-body", color.$green-body);
    @include color.theme("--blue-body", color.$blue-body);
    @include color.theme("--teal-body", color.$teal-body);
    @include color.theme("--purple-body", color.$purple-body);
    @include color.theme("--indigo-body", color.$indigo-body);
    @include color.theme("--pink-body", color.$pink-body);
    @include color.theme("--accent-body", color.$accent-body);

    // Body Text Palette:
    @include color.theme("--text", color.$text);
    @include color.theme("--gray", color.$gray);
    @include color.theme("--red", color.$red);
    @include color.theme("--orange", color.$orange);
    @include color.theme("--yellow", color.$yellow);
    @include color.theme("--brown", color.$brown);
    @include color.theme("--green", color.$green);
    @include color.theme("--blue", color.$blue);
    @include color.theme("--teal", color.$teal);
    @include color.theme("--purple", color.$purple);
    @include color.theme("--indigo", color.$indigo);
    @include color.theme("--pink", color.$pink);
    @include color.theme("--accent", color.$accent);

    // Body Fill Palette:
    @include color.theme("--text-bg", color.$text-bg);
    @include color.theme("--gray-bg", color.$gray-bg);
    @include color.theme("--red-bg", color.$red-bg);
    @include color.theme("--orange-bg", color.$orange-bg);
    @include color.theme("--yellow-bg", color.$yellow-bg);
    @include color.theme("--brown-bg", color.$brown-bg);
    @include color.theme("--green-bg", color.$green-bg);
    @include color.theme("--blue-bg", color.$blue-bg);
    @include color.theme("--teal-bg", color.$teal-bg);
    @include color.theme("--purple-bg", color.$purple-bg);
    @include color.theme("--indigo-bg", color.$indigo-bg);
    @include color.theme("--pink-bg", color.$pink-bg);
    @include color.theme("--accent-bg", color.$accent-bg);
}

:root, .accent {
    --color-body: var(--accent-body);
    --color-bg: var(--accent-bg);
    --color: var(--accent);
}

.body1 {
    --color-body: var(--body1);
}

.body2 {
    --color-body: var(--body2);
}

.body3 {
    --color-body: var(--body3);
}

.body4 {
    --color-body: var(--body4);
}

.body5 {
    --color-body: var(--body5);
}

.gray {
    --color-body: var(--gray-body);
    --color-bg: var(--gray-bg);
    --color: var(--gray);
}

.red {
    --color-body: var(--red-body);
    --color-bg: var(--red-bg);
    --color: var(--red);
}

.orange {
    --color-body: var(--orange-body);
    --color-bg: var(--orange-bg);
    --color: var(--orange);
}

.yellow {
    --color-body: var(--yellow-body);
    --color-bg: var(--yellow-bg);
    --color: var(--yellow);
}

.brown {
    --color-body: var(--brown-body);
    --color-bg: var(--brown-bg);
    --color: var(--brown);
}

.green {
    --color-body: var(--green-body);
    --color-bg: var(--green-bg);
    --color: var(--green);
}

.blue {
    --color-body: var(--blue-body);
    --color-bg: var(--blue-bg);
    --color: var(--blue);
}

.teal {
    --color-body: var(--teal-body);
    --color-bg: var(--teal-bg);
    --color: var(--teal);
}

.purple {
    --color-body: var(--purple-body);
    --color-bg: var(--purple-bg);
    --color: var(--purple);
}

.indigo {
    --color-body: var(--indigo-body);
    --color-bg: var(--indigo-bg);
    --color: var(--indigo);
}

.pink {
    --color-body: var(--pink-body);
    --color-bg: var(--pink-bg);
    --color: var(--pink);
}