// Presets/document.scss: Presets to HTML tags used to format the document.

@use "../api/" as *;

// Main root:

html {
    position: absolute;
    top: 0px; bottom: 0px;
    width: 100%;
    background-color: color("white");
    color: text-color("black", "white");
}

// Sectioning root:

body {
    position: relative;
    min-height: 100%;
}

// Blockquotes:

blockquote {
    margin: scale(0) scale(1);
}

// Paragraphs:

p {
    margin: scale(0) 0px;
}

// Links:

a {
    $link-color: text-color("blue", "white");
    color: $link-color;
    &:not(:hover):not(:focus) {
        text-decoration: none;
    }
    &:hover, &:focus {
        color: shade($link-color, 5%);
    }
    &:active {
        color: shade($link-color, 10%);
    }
}

// Marked text:

mark {
    background-color: color("yellow");
    color: text-color("black", "yellow");
}

// Horizontal rules:

hr {
    height: px(2);
    background-color: accessible("gray", "white", 2);
    border: none;
    margin: scale(-2) 0px;
}

// Figures:

figure {
    margin: scale(0) scale(1);
}