// Presets/document.scss: Presets to HTML tags used to format the document.

@use "../tools/palette.scss" as palette;
@use "../tools/spacing.scss" as spacing;

// Main root:

html {
    position: absolute;
    top: 0px; bottom: 0px;
    width: 100%;
    background-color: palette.get("white");
    color: palette.text("black", "white");
}

// Sectioning root:

body {
    position: relative;
    min-height: 100%;
}

// Blockquotes:

blockquote {
    margin: spacing.size(0) spacing.size(1);
}

// Paragraphs:

p {
    margin: spacing.size(0) 0px;
}

// Links:

a {
    $link-color: palette.text("blue", "white");
    color: $link-color;
    &:not(:hover):not(:focus) {
        text-decoration: none;
    }
    &:hover, &:focus {
        color: palette.shade($link-color, 20%);
    }
    &:active {
        color: palette.shade($link-color, 30%);
    }
}

// Marked text:

mark {
    background-color: palette.get("yellow");
    color: palette.text("black", "yellow");
}

// Horizontal rules:

hr {
    height: spacing.px(2);
    background-color: palette.get("gray");
    border: none;
    margin: spacing.size(-2) 0px;
}

// Figures:

figure {
    margin: spacing.size(0) spacing.size(1);
}