// Presets/form.scss: Presets to HTML form elements.

@use "../tools/text.scss" as text;
@use "../tools/spacing.scss" as spacing;
@use "../tools/color.scss" as color;
@use "../tools/gui.scss" as gui;

// Form formatting:

fieldset {
    border: none;
    padding: 0px;
    margin: 0px;
}

legend {
    font-size: text.size(1);
    margin: spacing.size(-1) 0px;
}

label {
    display: inline-block;
}

// Basic input types:

%textfield, %button, textarea, select {
    display: block;
    width: 100%;
    border: 1px solid;
    border-radius: gui.$radius-tiny;
    padding: spacing.px(4) spacing.px(6);
    margin: spacing.size(0) 0px;
    @include color.theme(background-color, color.$body1);
    @include color.theme(border-color, color.$gray);
    @include color.theme(color, color.$text);
}

// Input states:

:invalid:focus,
:invalid:not(:placeholder-shown) {
    @include color.theme(border-color, color.$red);
}

:disabled {
    @include color.theme(color, color.$gray);
}

// Button input:

%button {
    display: inline-block;
    width: auto;
    font-weight: text.$weight-bold;
    padding: spacing.px(4) spacing.px(12);
    margin: spacing.px(2) 0px;
    cursor: pointer;
    @include color.theme(background-color, color.$body3);
}

// Select arrow:

select {
    padding-right: spacing.px(24);
    background-repeat: no-repeat;
    background-position: right spacing.px(4) center;
    background-size: spacing.px(16) spacing.px(16);
    background-image: url("data:image/svg+xml, \
    %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E \
    %3Cpath d='M 3,4 8,12 13,4 Z' stroke='%23FFF'/%3E \
    %3C/svg%3E");
}

// Shorthand input types:

[type="text"], [type="email"], [type="password"], [type="search"],
[type="tel"], [type="url"], [type="number"], [type="time"],
[type="week"], [type="month"], [type="date"],
[type="datetime-local"] {
    @extend %textfield;
}

button, [type="button"],
[type="reset"], [type="submit"] {
    @extend %button;
}