// Presets/form.scss: Presets to HTML form elements.

@use "../tools/gui.scss" as gui;
@use "../tools/palette.scss" as palette;
@use "../tools/spacing.scss" as spacing;
@use "../tools/text.scss" as text;

// Form formatting:

fieldset {
    border: none;
    padding: 0px;
    margin: 0px;
}

legend {
    font-size: text.size(1);
}

label {
    display: inline-block;
}

// Basic input types:

%textfield, %button, textarea, select {
    background-color: palette.get("white");
    color: palette.text("black", "white");
    border: 1px solid palette.accessible("gray", "white", 3);
    border-radius: gui.$radius-tiny;
    padding: spacing.px(4) spacing.px(6);
}

// Input states:

:invalid:focus {
    border-color: palette.accessible("red", "white", 3);
}

:disabled {
    color: palette.text("gray", "white");
}

// Button input:

%button {
    font-weight: text.$weight-bold;
    background-color: palette.step("white", 1);
    color: palette.text("black", palette.step("white", 1));
    padding: spacing.px(4) spacing.px(12);
    cursor: pointer;
}

// Select arrow:

select {
    padding-right: spacing.px(24);
    background-repeat: no-repeat;
    background-position: right spacing.px(4) center;
    background-size: spacing.px(16) spacing.px(16);
    background-image: url("data:image/svg+xml, \
    %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E \
    %3Cpath d='M 3,4 8,12 13,4 Z' fill='%23000'/%3E \
    %3C/svg%3E");
}

// Shorthand input types:

[type="text"], [type="email"], [type="password"], [type="search"],
[type="tel"], [type="url"], [type="number"], [type="time"],
[type="week"], [type="month"], [type="date"],
[type="datetime-local"] {
    @extend %textfield;
}

button, [type="button"],
[type="reset"], [type="submit"] {
    @extend %button;
}