// Presets/list.scss: Presets to HTML lists.

@use "../api/" as *;

ul, ol {
    padding-left: 2ch;
    margin: scale(0) 0px;
    & & {
        font-size: text-size(-1);
        padding-left: 1ch;
        margin: px(4) 0px;
    }
    & & & {
        font-size: text-size(-2);
    }
}

ul {
    list-style-type: circle;
}

dl {
    margin: scale(0) 0px;
}

dt {
    font-weight: $weight-bold;
}

dd {
    margin-left: scale(0);
}