// Presets/list.scss: Presets to HTML lists.

@use "../tools/spacing.scss" as spacing;
@use "../tools/text.scss" as text;

ul, ol {
    padding-left: 2ch;
    margin: spacing.size(0) 0px;
    & & {
        font-size: text.size(-1);
        padding-left: 1ch;
        margin: spacing.px(4) 0px;
    }
    & & & {
        font-size: text.size(-2);
    }
}

ul {
    list-style-type: circle;
}

dl {
    margin: spacing.size(0) 0px;
}

dt {
    font-weight: text.$weight-bold;
}

dd {
    margin-left: spacing.size(0);
}