// Presets/text.scss: Presets to HTML text.

@use "../api/" as *;

// Text sizes:

html {
    font-size: text-size(0);
    font-family: $font;
    font-weight: $weight;
    line-height: $line-height;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
    font-weight: $weight-bold;
    line-height: $line-height-heading;
    margin: scale(-1) 0px;
}

h1 {
    font-size: text-size(4);
}

h2 {
    font-size: text-size(3);
}

h3 {
    font-size: text-size(2);
}

h4 {
    font-size: text-size(1);
}

h5 {
    font-size: text-size(0);
}

h6 {
    font-size: text-size(-1);
}

sub, sup, small {
    font-size: text-size(-2);
}

small small {
    font-size: text-size(-3);
}

// Text font:

code, samp, pre, kbd {
    font-family: $font-mono;
}

// Text weight:

b, strong {
    font-weight: $weight-bold;
}