// Presets/text.scss: Presets to HTML text.

@use "../tools/spacing.scss" as spacing;
@use "../tools/text.scss" as text;

// Text sizes:

html {
    font-size: text.size(0);
    font-family: text.$font;
    font-weight: text.$weight;
    line-height: text.$line-height;
}

h1, h2, h3, h4, h5, h6 {
    font-family: text.$font-heading;
    font-weight: text.$weight-bold;
    line-height: text.$line-height-heading;
    margin: spacing.size(-1) 0px;
}

h1 {
    font-size: text.size(4);
}

h2 {
    font-size: text.size(3);
}

h3 {
    font-size: text.size(2);
}

h4 {
    font-size: text.size(1);
}

h5 {
    font-size: text.size(0);
}

h6 {
    font-size: text.size(-1);
}

sub, sup, small {
    font-size: text.size(-2);
}

small small {
    font-size: text.size(-3);
}

// Text font:

code, samp, pre, kbd {
    font-family: text.$font-mono;
}

// Text weight:

b, strong {
    font-weight: text.$weight-bold;
}