<footer id="footer">
    <div id="footer-wrapper">
        <div id="footer-info">
            <h1>About {{ site.title }}</h1>
            <span>&copy; {% year %} {{ site.author }}.</span>
            <span>Site built with <a href="https://www.11ty.dev/">11ty</a> static site generator.</span>
            <span>Code currently {{ site.code.version }}.</span>
            <span>Distributed under the <a href="{{ site.code.license.url }}">{{ site.code.license.type }}</a> License.</span>
        </div>
        <nav id="footer-nav">
            <h1>Navigation</h1>
            {%- for name, link in navigation.footer -%}
            <a href="{{ link | url }}" {% if page.url == link %} aria-current="page"{% endif %}>{{ name }}</a>
            {%- endfor -%}
        </nav>
        <a href="#" id="footer-top-link">
            <i class="bi bi-arrow-up-short"></i>
        </a>
    </div>
</footer>
<script>
document.addEventListener("DOMContentLoaded", function() {
    var footerTopLink = document.getElementById("footer-top-link");
    var headroom  = new Headroom(footerTopLink);
    headroom.init();
});
</script>