<header id="header">
    <div id="header-wrapper">
        <a href="{{ '/' | url }}" id="header-title">
            <h2>{{ site.title }}</h2>
            <h4><em>{{ site.subtitle }}</em></h3>
        </a>
        <nav id="header-nav">
            {%- for name, link in navigation.header -%}
            <a href="{{ link | url }}" {% if page.url == link %} aria-current="page"{% endif %}>{{ name }}</a>
            {%- endfor -%}
        </nav>
    </div>
</header>
<script>
    var header = document.getElementById("header");
    var headroom  = new Headroom(header, {
        offset: header.offsetHeight,
        classes : {
            unpinned : "hidden"
        },
    });
    headroom.init();
</script>