<header id="header">
    <div id="header-wrapper">
        <a href="{{ '/' | url }}" id="header-title">
            <h1>{{ site.title }}</h1>
            <h2><em>{{ site.subtitle }}</em></h2>
        </a>
        <nav id="header-nav">
            {%- for name, link in navigation.header -%}
            <a href="{{ link | url }}" {% if page.url == link %} aria-current="page"{% endif %}>{{ name }}</a>
            {%- endfor -%}
        </nav>
    </div>
</header>
<script>
document.addEventListener("DOMContentLoaded", function() {
    var header = document.getElementById("header");
    var headroom  = new Headroom(header, {
        offset: header.offsetHeight,
        classes : {
            unpinned : "hidden"
        },
    });
    headroom.init();
});
</script>