{% if indexLinks %}
<ul class="index-links">
    {%- for name, link in indexLinks or nav[indexLinks] %}
        {% if page.url == link %}
            <li><a href="{{ link | url }}" aria-current="page"><b>{{ name }}</b></a></li>
        {% else %}
            <li><a href="{{ link | url }}">{{ name }}</a></li>
        {% endif %}
    {% endfor -%}
</ul>
{% endif %}