<header id="sitehead">
    <div id="sitehead-wrapper">
        <a href="{{ '/' | url }}" id="sitehead-title">
            <h2>{{ metadata.title }}</h2>
            <h4><em>{{ metadata.subtitle }}</em></h3>
        </a>
        <nav id="sitehead-nav">
            {%- for name, link in navdata.sitehead -%}
                <a href="{{ link | url }}" {% if page.url == link %} aria-current="page"{% endif %}>{{ name }}</a>
            {%- endfor -%}
        </nav>
    </div>
</header>
<script src="{{ '/assets/js/headroom/headroom.min.js' | url }}"></script>
<script>
    var header = document.getElementById("sitehead");
    var headroom  = new Headroom(header, {
        offset: header.offsetHeight,
        classes : {
            unpinned : "hidden"
        },
    });
    headroom.init();
</script>