<footer id="footer">
    <div id="footer-wrapper">
        <div id="footer-info">
            <h4>About {{ meta.site.title }}</h4>
            <span>&copy; {% year %} {{ meta.site.author }}.</span>
            <span>Site built with <a href="https://www.11ty.dev/">11ty</a> static site generator.</span>
            <span>Code currently {{ meta.code.version }}.</span>
            <span>Distributed under the <a href="{{ meta.code.license.url }}">{{ meta.code.license.type }}</a> License.</span>
        </div>
        <nav id="footer-nav">
            <h4>Navigation</h4>
            {%- for name, link in nav.footer -%}
                <a href="{{ link | url }}" {% if page.url == link %} aria-current="page"{% endif %}>{{ name }}</a>
            {%- endfor -%}
        </nav>
    </div>
</footer>