// Chapters: Styles for quick chapter links at the top of a page.

@use "../api" as *;

.chapters {
    display: block;
    border-width: 1px 0;
    border-style: dashed;
    border-color: step-color($white, 3);
    list-style: none;
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
    padding: px(16) size(1);
    margin: 0 auto;
    @include dark {
        border-color: step-color($black, 3);
    }
}

.chapters > :not(:first-child)::before {
    content: "\2022\00a0";
    display: inline-block;
    margin: 0 px(8);
}

.chapters li {
    display: inline;
    line-height: px(36);
}

.chapters a[aria-current="page"] {
    color: inherit;
    font-weight: $weight-bold;
}