// Variables: All global API variables.

// Color Palette:
$white: #f6f6f8 !default;
$black: #18181C !default;
$gray: #727C83 !default;
$red: #EF6461 !default;
$orange: #EE8434 !default;
$yellow: #FFCB47 !default;
$brown: #BB946C !default;
$green: #74bf80 !default;
$blue: #5490b8 !default;
$teal: #2a9186 !default;
$cyan: #6bcee7 !default;
$purple: #b350ed !default;
$indigo: #9892C8 !default;
$pink: #F47C98 !default;

$colors: (
    "white": $white,
    "black": $black,
    "gray": $gray,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "brown": $brown,
    "green": $green,
    "blue": $blue,
    "teal": $teal,
    "cyan": $cyan,
    "purple": $purple,
    "indigo": $indigo,
    "pink": $pink
) !default;

// Color Schemes:
$color-scheme: light dark !default;
$background-color: $white, dark $black !default;

// Contrast Ratio:
$contrast-text-ratio: 4.5 !default;
$contrast-step-ratio: 1.1 !default;

// Scaling Properties:
$scale-baseline: 1rem !default;
$scale-ratio: 1.414 !default;

// Font Sizing:
$font-size: 1em !default;
$font-size-ratio: 1.200 !default;

// Font Family:
$font: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
helvetica neue, helvetica, Cantarell, Ubuntu, roboto,
noto, arial, sans-serif !default;
$font-heading: $font !default;
$font-mono: Menlo, Consolas, Monaco, Liberation Mono,
Lucida Console, monospace !default;

// Font Weight:
$weight: 400 !default;
$weight-thin: 200 !default;
$weight-bold: 600 !default;
$weight-heavy: 800 !default;

// Line Height:
$line-height: 1.5 !default;
$line-height-heading: 1.33 !default;

// Viewport Widths:
$xs: 180.5px !default;
$sm: 300.5px !default;
$md: 640.5px !default;
$lg: 980.5px !default;
$xl: 1280.5px !default;
$xxl: 1440.5px !default;

$vw-map: (
    "xs": $xs, "sm": $sm, "md": $md,
    "lg": $lg, "xl": $xl, "xxl": $xxl
) !default;

// Viewport Breakpoints:
$breakpoints: 0px, $sm, $md, $lg, $xl, $xxl !default;

// Z-Index Position:
$z-dropdown: 1000 !default;
$z-sticky: 2000 !default;
$z-fixed: 3000 !default;
$z-modal-backdrop: 4000 !default;
$z-modal: 5000 !default;
$z-popover: 6000 !default;
$z-tooltip: 7000 !default;

// Border Radius:
$radius-xs: 4px !default;
$radius-sm: 8px !default;
$radius-md: 12px !default;
$radius-lg: 18px !default;
$radius-xl: 24px !default;
$radius-xxl: 32px !default;

// Safe Areas:
$safe-top: env(safe-area-inset-top) !default;
$safe-right: env(safe-area-inset-right) !default;
$safe-bottom: env(safe-area-inset-bottom) !default;
$safe-left: env(safe-area-inset-left) !default;

$safe: $safe-top $safe-right $safe-bottom $safe-left;
$safe-x: 0 $safe-right 0 $safe-left;
$safe-y: $safe-top 0 $safe-bottom 0;