// Font Scale: Scales font based on $step and $font-scale $breakpoint(s).

@use "../variables/" as *;
@use "../functions/step" as *;
@use "../sass" as *;

@mixin font-scale($step, $breakpoint: "xxl") {
    $breakpoint: MAP-get($vw-map, $breakpoint);
    @each $key, $ratio in $font-scale {
        $width: MAP-get($vw-map, $key);
        @if $width <= $breakpoint {
            @container (min-width: #{ $width }) {
                $value: step($font-size, $ratio, $step);
                @if META-content-exists() == false {
                    font-size: $value;
                }
                @content($value);
            }
        }
    }
}