// Page: Styles that effect the page type layout.

@use "../api" as *;

#layout-page {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    @include inset(0);
}

#header, #footer,
#layout-page-content {
    display: block;
    width: 100%;
    flex: 0 0 auto;
}

#layout-page-content {
    display: block;
    flex: 1 0 auto;
    padding: $safe-x;
    margin: 0 auto;
}