// Footer: Styles for the global site footer.

@use "../api" as *;

#footer {
    display: block;
    background-color: $black;
    color: text-color($white, $black);
    padding: size(0) size(1) size(5);
    @include dark {
        background-color: shade($black, 2%);
    }
}

#footer-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: $xl;
    padding: 0 $safe-right $safe-bottom $safe-left;
    margin: auto;
}

#footer-info,
#footer-nav {
    display: flex;
    flex-flow: column nowrap;
    line-height: 1.8;
    color: text-color($gray, $black);
    h1 {
        color: text-color($white, $black);
        font-size: font-size(1);
    }
    a {
        color: text-color($blue, $black);
        &:hover, &:focus, &[aria-current="page"] {
            color: text-color($white, $black);
        }
        &:active {
            color: text-color($gray, $black);
        }
    }
}

#footer-nav a {
    line-height: px(36);
}

#footer-top-link {
    position: fixed;
    z-index: $z-fixed;
    display: block;
    font-size: px(32);
    line-height: 0;
    background-color: var(--bg-color);
    color: var(--color);
    border: 1px solid currentColor;
    border-radius: 9999px;
    transition-property: transform, opacity, visibility;
    transition-duration: 150ms;
    transition-timing-function: linear;
    margin: $safe;
    @include declare(right bottom, px(20));
    &:hover, &:focus {
        transform: scale(1.1);
    }
    &:active {
        transform: scale(1);
    }
    &.headroom--unpinned,
    &.headroom--top {
        pointer-events: none;
        visibility: hidden;
        transform: scale(0.9);
        opacity: 0;
    }
}