// Header: Styles for the global site header.

@use "../api" as *;

#header {
	display: block;
	background-color: var(--bg-color);
	box-shadow: 2px 0 4px 2px rgba(#000, 0.2);
	padding: px(16);
	overflow: visible;
	@include dark {
		box-shadow: 2px 0 4px 2px rgba(#000, 0.4);
	}
	&.headroom {
		position: sticky;
		top: 0;
		z-index: $z-fixed;
		transition: transform 300ms ease-out;
		&--unpinned, &--bottom {
			transform: translateY(-100%) translateY(-8px);
		}
	}
}

#header-wrapper {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	max-width: $xl;
	padding: $safe-top $safe-right 0 $safe-left;
	margin: auto;
}

#header-title {
	display: block;
	flex: 0 1 auto;
	text-decoration: none;
	padding-right: px(8);
	margin-right: auto;
	h1, h2 {
		display: inline-block;
		margin: 0;
	}
	h1 {
		color: var(--orange);
		font-size: font-size(2);
        font-weight: $weight-bold;
	}
	h2 {
		color: var(--gray);
		font-size: font-size(1);
        font-weight: $weight;
	}
}

#header-nav {
	display: flex;
	flex-flow: row wrap;
	flex: 0 0 auto;
	margin-left: px(-8);
	a {
        display: block;
        color: var(--gray);
        padding: 0 px(8);
        &:hover, &:focus, &[aria-current="page"] {
            color: var(--color);
        }
        &:active {
            color: var(--blue);
        }
    }
}