// Header: Styles for the global site header.

@use "../api" as *;

#header {
	position: relative;
	transition: all 300ms ease-out;
	background-color: var(--bg-color);
	box-shadow: 2px 0 4px 2px shade($white, 10%);
	padding: px(8) px(16);
	overflow: visible;
	@include dark {
		box-shadow: 2px 0 4px 2px shade($black, 10%);
	}
	@media (min-height: 480px), (min-width: $lg) {
		position: sticky;
		top: 0;
		z-index: $z-fixed;
		&.hidden {
			transform: translateY(-100%);
			pointer-events: none;
			visibility: hidden;
		}
	}
}

#header-wrapper {
	display: flex;
	flex-flow: row wrap;
	max-width: $lg;
	align-items: center;
	padding: $safe-top $safe-right 0 $safe-left;
	margin: auto;
}

#header-title {
	display: block;
	flex: 0 1 auto;
	color: var(--gray);
	padding: px(8);
	h2, h4 {
		margin: 0;
	}
	h2 {
		color: var(--orange);
		font-size: font-size(3);
        font-weight: $weight-bold;
	}
	h4 {
		color: var(--color);
		font-size: font-size(0);
        font-weight: $weight;
	}
}

#header-nav {
	display: flex;
	flex-flow: row wrap;
	align-self: flex-end;
	flex: 0 0 auto;
	margin-left: auto;
	a {
        display: block;
        color: var(--gray);
        padding: px(8);
        &:hover, &:focus, &[aria-current="page"] {
            color: var(--color);
        }
        &:active {
            color: var(--blue);
        }
    }
}