// Page: Styles that effect the base page layout.

@use "../api" as *;

.layout-page {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    @include inset(0);
}

#header,
#footer,
.layout-page-content {
    display: block;
    width: 100%;
    flex: 0 0 auto;
}

.layout-page-content {
    display: block;
    padding: $safe-x;
    max-width: $xxl;
    margin: 0 auto auto;
}