// Webkit Scrollbar: A custom -webkit- scrollbar.

@use "../api" as *;

::-webkit-scrollbar,
::-webkit-scrollbar-corner {
    background-color: $white;
}

::-webkit-scrollbar:vertical {
    width: 16px;
}

::-webkit-scrollbar:horizontal {
    height: 16px;
}

::-webkit-scrollbar-thumb {
    background-color: accessible($gray, $white, 3);
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 8px;
    &:hover {
        background-color: accessible($black, $white, 3);
    }
}