// A: CSS for HTML anchor links.

@use "../api/" as *;

$color: $blue !default;

a[href] {
    @include background-color using ($bg) {
        :where(&) {
            color: text-color($color, $bg);
        }
    }
    :where(&:not(:hover, :focus, :active)) {
        text-decoration: none;
    }
}