// HTML: CSS for the HTML tag.

@use "../api/" as *;

:where(html) {
    color-scheme: $color-scheme;
    font: $weight #{$font-size}/#{$line-height} $font;
    @include background-color using ($bg) {
        background-color: $bg;
        color: text-color($color2: $bg);
    }
}