// Input: CSS for the form input element.

@use "../api/" as *;

:where(%input) {
    color: inherit;
    padding: px(2) px(3);
    border-width: 1px;
    border-style: solid;
    @include background-color using ($bg) {
        background-color: $bg;
        border-color: accessible($gray, $bg, 3);
    }
}

:where(%input:disabled) {
    opacity: 0.3;
}

input:where([type="date"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"]) {
    @extend %input;
}