// Textarea: CSS for HTML textareas.

@use "../api/" as *;

:where(textarea) {
    font-family: $font-mono;
    padding: px(2);
    @include background-color using ($bg) {
        background-color: $bg;
        border-color: accessible($gray, $bg, 3);
        color: text-color($color2: $bg);
    }
}

:where(textarea:disabled) {
    opacity: 0.3;
}