// Textarea: CSS for HTML textareas.

@forward "code";
@use "../api/" as *;

:where(textarea) {
    padding: px(2);
    @extend code;
    @include background-color using ($bg) {
        background-color: $bg;
        border-color: accessible($gray, $bg, 3);
        color: text-color($color2: $bg);
    }
}

:where(textarea:disabled) {
    opacity: 0.3;
}