---
layout: base
---
<main id="layout-error">
    <div id="layout-error-content">
        <h1>{{ title }}</h1>
        <h2>{{ description }}</h2>
        <a href="{{ '/' | url }}">Go to Home Page ❯</a>
    </div>
</main>